* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 75px;
  height: 45px;
  margin: 1.25px 0;
  border: 1.5px solid transparent;
  border-radius: 5px;
  font-size: 15px;
  transition: all .05s ease-in-out;
}

.body-calculator {
  position: relative;
  background-color: rgb(228, 228, 228);
  width: 322px;
  padding: 3px;
  margin: 40px auto; 
  border: 1px solid rgb(168 168 168 / 55%);
  border-top: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 0 10px -1px #9e9e9e;
  opacity: .75;
  transition: all .15s ease-in-out;
}
.body-calculator:hover {
  opacity: 1;
}

.top-bar {
  height: 30px;
  font-size: 25px;
}

.body-calculator .top-bar>div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  background-color: transparent;
  text-align: center;
  transition: all .15s ease-in-out;
}
.body-calculator .top-bar>div:hover {
  background-color: rgb(9, 206, 206);
}
.body-calculator:hover .top-bar>div {
  display: block;
}

#inputs-div {
  position: relative;
  margin: 20px 5px 0;
}

#calc-input {
  display: block;
  width: 100%;
  height: 80px;
  border: none;
  text-align: right;
  font-size: 38px;
  font-weight: 600;
  color: black;
  background: none;
}

#calc-input-2 {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: inherit;
  margin: 0 auto;
}

.buttons button:hover {
  background-color: #e1e0e0;
}
.buttons button:active {
  border: 1.5px inset rgb(255, 255, 255);
}

.down-btn {
  display: flex;
}

.numbers-btn {
  column-count: 3;
  column-gap: 3.5px;
  width: fit-content;  
  margin: 0 3.5px 0 1px;
} 
.numbers-btn>button {
  background-color: rgb(250, 250, 250);
  font-weight: 600;
  font-size: 18px;
}

.equal {
  background-color: rgb(9, 206, 206);
}

